@charset "UTF-8";
:root {
  --blueberry-300: #8994a7;
  --blueberry-400: #4c5467;
  --blueberry-500: #29334e;
  --blueberry-600: #0d1833;
  --blueberry-700: #202a43;
  --blueberry-900: #091124;
  --grey-50: #efefef;
  --grey-100: #e7e7e7;
  --grey-200: #cfcfcf;
  --grey-300: #b6b6b6;
  --grey-400: #9e9e9e;
  --grey-500: #868686;
  --grey-600: #6e6e6e;
  --grey-700: #565656;
  --grey-800: #3d3d3d;
  --grey-900: #1f1f1f;
  --grey-950: #0d0d0d;
  --lemon-100: #fff3c6;
  --lemon-200: #ffe587;
  --lemon-300: #ffd966;
  --lemon-400: #ffbe1e;
  --lemon-500: #f99c08;
  --grape-700: #8f476c;
  --grape-800: #773d5b;
  --grape-900: #65364e;
  --grape-950: #51263c;
  --raspberry-300: #f1b0b8;
  --raspberry-400: #e98391;
  --raspberry-500: #dc576d;
  --color-raspberry-600: #c83756;
  --raspberry-700: #a72947;
  --pumpkin-200: #ffcda8;
  --pumpkin-300: #ffa970;
  --pumpkin-400: #ff7029;
  --pumpkin-500: #fe5610;
  --pumpkin-600: #ef3c08;
  --vanilla-100: #f8efdd;
  --vanilla-200: #eddbbb;
  --vanilla-300: #e5c99d;
  --vanilla-400: #d5a263;
  --vanilla-500: #cb8944;
  --color-bg: var(--blueberry-600);
  --color-bg-card: var(--blueberry-500);
  --color-bg-accent: var(--blueberry-400);
  --color-border-stroke: var(--grey-400);
  --color-btn: var(--pumpkin-400);
  --color-btn-disabled: var(--pumpkin-200);
  --color-btn-secondary: var(--blueberry-400);
  --color-btn-secondary-disabled: var(--blueberry-200);
  --color-interactions-stars: var(--lemon-300);
  --color-neon: var(--grape-950);
  --color-neon-accent-first: var(--raspberry-500);
  --color-neon-accent-second: var(--lemon-300);
  --color-text: var(--grey-50);
  --color-text-subdued: var(--grey-200);
  --color-text-pale: var(--grey-300);
  --color-text-onwhite: var(--grey-900);
  --color-text-onwhite-subdued: var(--grey-800);
  --color-text-onwhite-pale: var(--grey-700);
  --color-badge-accent-first: var(--vanilla-300);
  --color-badge-accent-second: var(--raspberry-400);
  --color-badge-accent-third: var(--grape-700);
  --screen-2xs: 320px;
  --screen-xs: 390px;
  --screen-sm: 430px;
  --screen-md: 744px;
  --screen-lg: 1133px;
  --screen-xl: 1280px;
  --screen-2xl: 1440px;
  --screen-3xl: 1920px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-14: 3.5rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-28: 7rem;
  --space-32: 8rem;
  --space-36: 9rem;
  --space-40: 10rem;
  --space-44: 11rem;
  --space-48: 12rem;
  --space-52: 13rem;
  --space-56: 14rem;
  --space-60: 15rem;
  --space-64: 16rem;
  --space-72: 18rem;
  --space-80: 20rem;
  --space-96: 24rem;
  --border-radius-none: 0px;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.625rem;
  --border-radius-lg: 1.25rem;
  --border-radius-full: 9999rem;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #0d1833;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ul,
ol {
  list-style-type: "";
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.c-header {
  width: 100%;
}
.c-header .c-header__nav {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-header .c-header__nav .c-header__menu-icon .c-header__menu-icon-line {
  background-color: black;
  width: 1.5rem;
  height: 0.125rem;
  display: block;
  margin: 0.25rem 0;
  transition: 0.2s;
}
.c-header .c-header__nav .c-header__menu-icon.exit .c-header__menu-icon-line:first-child {
  transform: rotate(45deg) translate(5px, 0px);
}
.c-header .c-header__nav .c-header__menu-icon.exit .c-header__menu-icon-line:nth-child(2) {
  display: none;
}
.c-header .c-header__nav .c-header__menu-icon.exit .c-header__menu-icon-line:last-child {
  transform: rotate(-45deg) translate(5px, 0px);
}
@media (min-width: 744px) {
  .c-header .c-header__nav .c-header__menu-icon {
    display: none;
  }
}
.c-header .c-header__nav .c-header__menu-list {
  display: none;
}
.c-header .c-header__nav .c-header__menu-list.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  background-color: white;
}
@media (min-width: 744px) {
  .c-header .c-header__nav .c-header__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/* The layout/ folder contains everything that takes part in laying out the site or application. This folder could have stylesheets for the main parts of the site (header, footer, navigation, sidebar…), the grid system or even CSS styles for all the forms.*/
.c-hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}
.c-hero .c-hero__info-box .c-hero__heading {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.c-hero .c-hero__info-box .c-hero__text {
  font-size: 1.25rem;
  text-align: center;
}
.c-hero .c-hero__info-box .c-hero__actions {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 3rem;
}

.c-page-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.c-aside {
  flex: 0 0 30%;
}

.c-lib {
  flex: 0 0 60%;
}
.c-lib .c-lib__search-filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 1.5rem;
}
.c-lib .c-lib__search-filter .c-lib__search {
  flex: 0 0 100%;
}
.c-lib .c-lib__feed {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.c-lib .c-lib__feed .c-lib__article {
  flex: 0 0 100%;
}
@media (min-width: 744px) {
  .c-lib .c-lib__feed .c-lib__article {
    flex: 0 0 calc(50% - 0.75rem);
  }
}
@media (min-width: 1280px) {
  .c-lib .c-lib__feed .c-lib__article {
    flex: 0 0 calc(33% - 0.75rem);
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.c-icon.c-icon--xs {
  width: 1rem;
  height: 1rem;
}
.c-icon.c-icon--sm {
  width: 1.5rem;
  height: 1.5rem;
}
.c-icon.c-icon--md {
  width: 2rem;
  height: 2rem;
}
.c-icon.c-icon--lg {
  width: 3rem;
  height: 3rem;
}

.c-badge {
  background-color: #EDEDED;
  color: black;
  padding: var(--badge-y-padding) var(--badge-x-padding);
  border-radius: 1.5rem;
  font-size: 0.75rem;
  --badge-y-padding: .25rem;
  --badge-x-padding: .5rem;
}
@media (min-width: var(--screen-md)) {
  .c-badge {
    font-size: 1rem;
    --badge-x-padding: .75rem;
  }
}

.c-interactions {
  display: flex;
  gap: var(--interactions-gap);
  align-items: center;
  padding: var(--interactions-padding);
  font-size: 0.75rem;
  --interactions-gap: 0.25rem;
  --interactions-padding: 0.25rem;
}

.c-cover {
  position: relative;
  width: 100%;
  height: 105px;
  background-color: grey;
}
.c-cover .c-cover__profile-img {
  height: 64px;
  width: 64px;
  background-color: black;
  border-radius: 9999px;
  position: absolute;
  left: 2rem;
  bottom: -0.75rem;
}

.c-article {
  border-radius: var(--border-radius-md);
  overflow: hidden;
  background-color: var(--article-bg-color);
  color: var(--article-text-color);
  --article-bg-color: #29334e;
  --article-text-color: #efefef;
}
.c-article .c-article__cover-img {
  background-color: grey;
}
.c-article .c-article__cover-img.c-article__cover-img--lying {
  height: 105px;
}
.c-article .c-article__cover-img.c-article__cover-img--square {
  height: 343px;
}
.c-article .c-article__content {
  display: flex;
  flex-direction: column;
  gap: var(--article-content-gap);
  padding: var(--article-content-padding);
  --article-content-gap: 1rem;
  --article-content-padding: 0.5rem;
}
.c-article .c-article__content .c-article__main-content .c-article__meta-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.c-article .c-article__content .c-article__main-content .c-article__meta-info .c-article__meta-box .c-article__meta-text {
  font-size: 0.75rem;
}
.c-article .c-article__content .c-article__main-content .c-article__meta-info .c-article__meta-box .c-article__meta-text:first-child {
  margin-bottom: 0.25rem;
}
.c-article .c-article__content .c-article__main-content .c-article__meta-info .c-article__meta-box.c-article__meta-box--right-align {
  text-align: right;
}
.c-article .c-article__content .c-article__main-content .c-article__text-content .c-article__heading {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.c-article .c-article__content .c-article__main-content .c-article__text-content .c-article__text {
  font-size: 0.875rem;
}
.c-article .c-article__content .c-article__user-info {
  display: flex;
  align-items: center;
}
.c-article .c-article__content .c-article__user-info .c-article__profile-img {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: var(--border-radius-full);
  margin-right: 0.5rem;
}
.c-article .c-article__content .c-article__user-info .c-article__user-name {
  font-size: 0.875rem;
}
.c-article .c-article__content .c-article__post-info .c-article__border-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-top: 0.5px solid #efefef;
  padding-top: 0.5rem;
}
.c-article .c-article__content .c-article__post-info .c-article__border-box:first-child {
  margin-bottom: 0.5rem;
}

.c-search {
  display: flex;
  align-items: center;
}
.c-search .c-search__bar {
  outline: none;
  padding: var(--search-bar-padding);
  background-color: var(--search-bar-bg-color);
  border: 2px solid var(--search-bar-border-color);
  border-radius: var(--border-radius-sm);
  font-size: 1rem;
  color: var(--search-bar-text-color);
  flex: 1;
  margin-right: var(--space-2);
  --search-bar-bg-color: #0d1833;
  --search-bar-padding: var(--space-2);
  --search-bar-text-color: #efefef;
  --search-bar-border-color: #868686;
}
.c-search .c-search__bar::-moz-placeholder {
  font-size: 1rem;
  --search-bar-text-color: #545c6f;
}
.c-search .c-search__bar::placeholder {
  font-size: 1rem;
  --search-bar-text-color: #545c6f;
}
.c-search .c-search__bar:focus {
  --search-bar-border-color: #cfcfcf;
}
.c-dropdown {
  background-color: var(--dropdown-bg-color);
  color: var(--dropdown-text-color);
  border: 2px solid var(--dropdown-border-color);
  border-radius: var(--border-radius-md);
  padding: var(--dropdown-y-padding) var(--dropdown-x-padding);
  --dropdown-bg-color: #0d1833;
  --dropdown-text-color: #efefef;
  --dropdown-border-color: #efefef;
  --dropdown-y-padding: 0.25rem;
  --dropdown-x-padding: 0.5rem;
}

/*If you have page-specific styles, it is better to put them in a pages/ folder, in a file named after the page. For instance, it’s not uncommon to have very specific styles for the home page hence the need for a _home.scss file in pages/.*/
.flex-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: var(--flex-gap);
  /* Denna kod ska läggas till på lämpligt ställe ex i en komponent partial */
  /* Om ni vill använda gap och vill att det blir smooth med mellanrummen använd denna uträkning */
  /* https://wiryawanadipa.com/blog/calculate-percentage-width-of-flex-items-when-using-gap/ */
  /* flex: 0 0 calc((100% / 3) - (((3 - 1) / 3) * 1rem)); */
}
.flex-container .flex-item {
  --flex-items: 1;
  background-color: hotpink;
  border: 1px solid red;
  flex: 0 0 calc(100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) * var(--flex-gap));
}
@media (min-width: 520px) {
  .flex-container .flex-item {
    --flex-items: 2;
  }
}
@media (min-width: 920px) {
  .flex-container .flex-item {
    --flex-items: 3;
  }
}/*# sourceMappingURL=style.css.map */