@charset "UTF-8";
:root {
  --blueberry-200: #8994a7;
  --blueberry-400: #4c5467;
  --blueberry-500: #29334e;
  --blueberry-600: #0d1833;
  --blueberry-700: #202a43;
  --blueberry-900: #091124;
  --grey-50: #efefef;
  --grey-100: #e7e7e7;
  --grey-200: #cfcfcf;
  --grey-300: #b6b6b6;
  --grey-400: #9e9e9e;
  --grey-500: rgb(134, 134, 134);
  --grey-600: #6e6e6e;
  --grey-700: #565656;
  --grey-800: #3d3d3d;
  --grey-900: #1f1f1f;
  --grey-950: #0d0d0d;
  --lemon-100: #fff3c6;
  --lemon-200: #ffe587;
  --lemon-300: #ffd966;
  --lemon-400: #ffbe1e;
  --lemon-500: #f99c08;
  --grape-700: #8f476c;
  --grape-800: #773d5b;
  --grape-900: #65364e;
  --grape-950: #51263c;
  --raspberry-300: #f1b0b8;
  --raspberry-400: #e98391;
  --raspberry-500: #dc576d;
  --raspberry-600: #c83756;
  --raspberry-700: rgb(167, 41, 71);
  --pumpkin-200: #ffcda8;
  --pumpkin-300: #ffa970;
  --pumpkin-400: #ff7029;
  --pumpkin-500: #fe5610;
  --pumpkin-600: #ef3c08;
  --vanilla-100: #f8efdd;
  --vanilla-200: #eddbbb;
  --vanilla-300: #e5c99d;
  --vanilla-400: #d5a263;
  --vanilla-500: #cb8944;
  --opacity-black-30: rgba(13, 13, 13, 0.3);
  --opacity-grey-25: rgba(134, 134, 134, 0.25);
  --opacity-neon-45: rgba(167, 41, 71, 0.45);
  --color-bg: var(--blueberry-900);
  --color-bg-card: var(--blueberry-500);
  --color-bg-accent-first: var(--blueberry-400);
  --color-bg-accent-second: var(--grape-950);
  --color-bg-accent-third: var(--blueberry-700);
  --color-bg-scrollbar: var(--grey-600);
  --color-bg-black: var(--grey-950);
  --color-bg-opacity-filter: var(--opacity-black-30);
  --color-bg-muted: var(--grey-600);
  --color-bg-white: var(--grey-50);
  --color-border-stroke: var(--grey-400);
  --color-border-scrollbar: var(--grey-100);
  --color-border-inputfield: var(--grey-100);
  --color-border-black: var(--grey-950);
  --color-border-selected: var(--pumpkin-300);
  --color-border-neon: var(--raspberry-700);
  --color-border-neon-muted: var(--grape-700);
  --color-btn: var(--pumpkin-400);
  --color-btn-disabled: var(--pumpkin-200);
  --color-btn-secondary: var(--blueberry-400);
  --color-btn-secondary-disabled: var(--blueberry-700);
  --color-btn-border: var(--lemon-300);
  --color-interactions-stars: var(--lemon-300);
  --color-neon: var(--grape-950);
  --color-neon-accent-first: var(--raspberry-500);
  --color-neon-accent-second: var(--lemon-300);
  --color-text: var(--grey-50);
  --color-text-subdued: var(--grey-200);
  --color-text-pale: var(--grey-300);
  --color-text-hover: var(--pumpkin-300);
  --color-text-onwhite: var(--grey-900);
  --color-text-onwhite-subdued: var(--grey-800);
  --color-text-onwhite-pale: var(--grey-700);
  --color-badge-accent-first: var(--vanilla-300);
  --color-badge-accent-second: var(--raspberry-400);
  --color-badge-accent-third: var(--grape-800);
  --color-badge-neon: var(--raspberry-700);
  --font-body-nr: 600 0.875rem "Open Sans", sans-serif;
  --font-body-xs: 400 0.75rem/100% "Open Sans", sans-serif;
  --font-body-sm: 400 0.875rem/140% "Open Sans", sans-serif;
  --font-body-md: 400 1rem/122% "Open Sans", sans-serif;
  --font-body-lg: 400 1rem "Open Sans", sans-serif;
  --font-title-sm: 500 1.125rem/120% "Kanit", sans-serif;
  --font-title-md: 500 1.25rem "Kanit", sans-serif;
  --font-title-lg: 500 1.375rem/120% "Kanit", sans-serif;
  --font-title-xl: 700 1.875rem/145% "Kanit", sans-serif;
  --font-title-2xl: 700 3.3124rem/135% "Kanit", sans-serif;
  --font-btn: 400 1.25rem "Kanit", sans-serif;
  --space-0: 0rem;
  --space-0-5: 0.125rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-14: 3.5rem;
  --space-16: 4rem;
  --space-18: 4.5rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-26: 6.5rem;
  --space-28: 7rem;
  --space-30: 7.5rem;
  --space-32: 8rem;
  --space-36: 9rem;
  --space-39: 9.75rem;
  --space-40: 10rem;
  --space-44: 11rem;
  --space-48: 12rem;
  --space-52: 13rem;
  --space-56: 14rem;
  --space-64: 16rem;
  --space-72: 18rem;
  --space-80: 20rem;
  --space-96: 24rem;
  --border-radius-none: none;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.25rem;
  --border-radius-xxll: 2.5rem;
  --border-radius-full: 9999rem;
  --bottom-menu-mobile-height: 3.25rem;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ul,
ol {
  list-style-type: "";
}

a {
  text-decoration: none;
  color: var(--color-text);
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cut-text--3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 724px) {
  .cut-text--3 {
    -webkit-line-clamp: 2;
  }
}

.cut-text--4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.c-header__main-item {
  font: var(--font-title-md);
}
@media (min-width: 744px) {
  .c-header__main-item {
    font: var(--font-title-sm);
  }
}

.c-header__icon-text {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-body-xs);
}

.c-hero__heading {
  text-align: center;
  text-transform: uppercase;
  font: var(--font-title-xl);
}
@media (min-width: 744px) {
  .c-hero__heading {
    font: var(--font-title-2xl);
  }
}

.c-dropdown {
  font: var(--font-body-sm);
}
.c-dropdown--lg {
  font: var(--font-body-lg);
}
.c-dropdown__heading {
  font: var(--font-title-sm);
}
.c-dropdown__number {
  font: var(--font-title-sm);
}

.c-post__times-container {
  font: var(--font-body-xs);
}
.c-post__title {
  font: var(--font-title-sm);
}
.c-post__text {
  font: var(--font-body-sm);
}
@media (min-width: 744px) {
  .c-post--to-horizontal .c-post__title, .c-post--full-post .c-post__title {
    font: var(--font-title-lg);
  }
  .c-post--to-horizontal .c-post__text, .c-post--full-post .c-post__text {
    font: var(--font-body-md);
  }
}

.c-user-box__username {
  font: var(--font-body-sm);
}
.c-user-box__usertitle {
  font: var(--font-body-xs);
}
.c-user-box__time {
  font: var(--font-body-xs);
}

.c-tag {
  text-transform: capitalize;
  font: var(--font-body-xs);
}
@media (min-width: 744px) {
  .c-tag {
    font: var(--font-body-md);
  }
}

.c-post-interactions__text {
  font: var(--font-body-nr);
}

.c-button {
  font: var(--font-btn);
  text-transform: uppercase;
}

.c-comment__label {
  font: var(--font-body-xs);
}
.c-comment__title {
  font: var(--font-title-sm);
}
.c-comment__text {
  font: var(--font-body-sm);
}

.c-input {
  font: var(--font-body-xs);
}
.c-input::-moz-placeholder {
  font: var(--font-body-xs);
}
.c-input::placeholder {
  font: var(--font-body-xs);
}

.c-search {
  font: var(--font-body-sm);
}
.c-search::-moz-placeholder {
  font: var(--font-body-sm);
}
.c-search::placeholder {
  font: var(--font-body-sm);
}

.c-lib-page__heading {
  font: var(--font-title-xl);
  text-transform: uppercase;
}

.c-swiper__empty-text {
  font: var(--font-body-sm);
}

.c-scroll__heading {
  font: var(--font-title-lg);
  text-align: center;
}

.c-footer__page-link {
  font: var(--font-title-md);
}
.c-footer__copyright {
  font: var(--font-body-sm);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.c-input {
  outline: none;
  color: var(--color-text-pale);
  background-color: transparent;
  padding: var(--space-2);
  border: 0.5px solid var(--color-border-inputfield);
  border-radius: var(--border-radius-sm);
}
.c-input::-moz-placeholder {
  color: var(--color-text-pale);
}
.c-input::placeholder {
  color: var(--color-text-pale);
}
.c-input:focus {
  box-shadow: 4px 4px 15px 0px var(--opacity-grey-25);
}

.c-icon {
  font-size: 1em;
  display: block;
}
.c-icon--xs {
  font-size: 1rem;
}
.c-icon--sm {
  font-size: 1.5rem;
}
.c-icon--md {
  font-size: 2rem;
}
.c-icon--lg {
  font-size: 3rem;
}

.c-button {
  border: none;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  box-shadow: var(--btn-box-shadow-default);
  --btn-border-radius: var(--border-radius-xl);
  --btn-box-shadow-default: -3px 4px 0px 0px var(--color-bg-black);
  --btn-box-shadow-hover: -6px 8px 0px 0px var(--color-bg-black);
  --btn-box-shadow-pressed: -1.5px 2px 0px 0px var(--color-bg-black);
}
.c-button--primary {
  --btn-bg-color: var(--color-btn);
  --btn-text-color: var(--color-text-onwhite);
}
.c-button--primary:hover {
  box-shadow: var(--btn-box-shadow-hover);
  transform: translate(3px, -4px);
}
.c-button--primary:focus {
  border: 3px solid var(--color-btn-border);
}
.c-button--primary.pressed {
  box-shadow: var(--btn-box-shadow-pressed);
  transform: translate(1.5px, -2px);
}
.c-button--primary.disabled {
  background-color: var(--color-btn-disabled);
  color: var(--color);
}
.c-button--secondary {
  --btn-bg-color: var(--color-btn-secondary);
  --btn-text-color: var(--color-text);
}
.c-button--secondary:hover {
  box-shadow: var(--btn-box-shadow-hover);
  transform: translate(3px, -4px);
}
.c-button--secondary:focus {
  border: 3px solid var(--color-btn-border);
}
.c-button--secondary.pressed {
  box-shadow: var(--btn-box-shadow-pressed);
  transform: translate(1.5px, -2px);
}
.c-button--tertiary {
  --btn-box-shadow-default: none;
  --btn-border-radius: var(--border-radius-sm);
  --btn-bg-color: transparent;
  --btn-text-color: var(--color-text-onwhite);
}
.c-button--tertiary:hover {
  background-color: grey;
}
.c-button--tertiary:focus {
  border: 3px solid var(--color-btn-border);
}

.c-tag {
  background-color: var(--color-bg-white);
  color: var(--color-text-onwhite);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-radius-full);
}
.c-tag:last-child {
  display: none;
}

.c-search {
  display: flex;
  align-items: center;
}
.c-search .c-search__input {
  outline: none;
  color: var(--color-text);
  background-color: transparent;
  padding: var(--space-4) var(--space-3);
  border: 1px solid var(--color-border-scrollbar);
  border-radius: var(--border-radius-sm);
  margin-right: var(--space-2);
  flex: 1;
}
.c-search .c-search__input::-moz-placeholder {
  color: var(--color-text);
}
.c-search .c-search__input::placeholder {
  color: var(--color-text);
}
.c-search .c-search__input:focus {
  box-shadow: 4px 4px 15px 0px var(--opacity-grey-25);
}
@media (min-width: 1024px) {
  .c-search .c-search__input--to-sm {
    padding: var(--space-1) var(--space-2);
  }
}
.c-search .c-search__button {
  color: var(--color-text);
  background-color: var(--color-bg-scrollbar);
  padding: var(--space-2);
  border: none;
  border-radius: var(--border-radius-sm);
}
@media (min-width: 1024px) {
  .c-search .c-search__button--in-header {
    color: var(--color-text-subdued);
    background-color: transparent;
    padding: var(--space-0);
  }
  .c-search .c-search__button--in-header.open {
    color: var(--color-text);
    background-color: var(--color-bg-scrollbar);
    padding: var(--space-2);
  }
}

.c-dropdown {
  padding: var(--space-2);
  border: 1px solid var(--dropdown-border-color);
  border-radius: var(--border-radius-sm);
  background-color: var(--dropdown-bg-color);
  color: var(--dropdown-text-color);
  position: relative;
  --dropdown-border-color: var(--color-border-inputfield);
  --dropdown-bg-color: transparent;
  --dropdown-text-color: var(--color-text);
}
.c-dropdown--lg {
  width: 100%;
  --dropdown-border-color: var(--color-border-stroke);
  --dropdown-bg-color: var(--color-bg);
  --dropdown-text-color: var(--color-text-pale);
}
@media (min-width: 1024px) {
  .c-dropdown--lg {
    padding: var(--space-6) var(--space-2);
  }
}
.c-dropdown__heading {
  display: none;
}
@media (min-width: 1024px) {
  .c-dropdown__heading {
    display: block;
    padding: var(--space-2) var(--space-3);
    color: var(--color-text);
  }
}
.c-dropdown__select {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-1);
  cursor: pointer;
  transition: 0.3s;
}
.c-dropdown__select.open {
  background-color: var(--color-bg-accent-third);
  border-radius: var(--border-radius-sm);
}
.c-dropdown__select--lg {
  padding: var(--space-3) var(--space-4);
}
@media (min-width: 1024px) {
  .c-dropdown__select--lg {
    display: none;
  }
}
.c-dropdown__caret {
  margin-left: auto;
  transition: 0.3s;
}
.c-dropdown__caret.rotate {
  transform: rotate(180deg);
}
.c-dropdown__list {
  display: none;
  background-color: var(--color-bg);
  padding: var(--space-2);
  border: 1px solid var(--dropdown-border-color);
  border-top: none;
  border-radius: var(--border-radius-sm);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: absolute;
  left: -1px;
  right: -1px;
  z-index: 6;
}
.c-dropdown__list.open {
  display: block;
}
@media (min-width: 1024px) {
  .c-dropdown__list--lg {
    opacity: 1;
    display: block;
    position: initial;
    border: none;
    border-radius: none;
    padding: var(--space-0);
  }
}
.c-dropdown__list--scroll {
  max-height: 210px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.c-dropdown__list--scroll::-webkit-scrollbar {
  display: none;
}
.c-dropdown__option {
  padding: var(--space-2) var(--space-1);
  margin-top: var(--space-2);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--space-4);
}
.c-dropdown__option.active {
  display: none;
}
.c-dropdown__option:hover {
  background-color: var(--color-bg-accent-third);
  border-radius: var(--border-radius-sm);
}
.c-dropdown__option.no-hover:hover {
  background-color: transparent;
}
.c-dropdown__option--lg {
  padding: var(--space-2) var(--space-14);
  gap: var(--space-2);
}
@media (min-width: 1024px) {
  .c-dropdown__option--lg {
    padding: var(--space-2) var(--space-3);
    gap: var(--space-4);
  }
  .c-dropdown__option--lg.active {
    display: flex;
    background-color: var(--color-bg-accent-third);
    border: 0.5px solid var(--color-text);
    border-radius: var(--border-radius-sm);
    color: var(--color-text);
  }
}
.c-dropdown__user-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--border-radius-full);
}
.c-dropdown__number {
  color: var(--color-text-onwhite);
  background-color: var(--color-bg-white);
  border-radius: var(--border-radius-full);
  flex: 0 0 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-dropdown__icon--lg {
  pointer-events: none;
}
.c-dropdown__text--lg {
  pointer-events: none;
}

.c-post-interactions {
  position: relative;
  min-height: 1.75rem;
  min-width: 3.125rem;
  transition: color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--post-interactions-gap);
  padding: var(--post-interactions-padding);
  background-color: var(--post-interactions-bg-color);
  color: var(--post-interactions-text-color);
  --post-interactions-gap: var(--space-1);
  --post-interactions-padding: var(--space-1);
  --post-interactions-text-color: var(--color-text);
}
.c-post-interactions--bg {
  border-radius: var(--border-radius-full);
  --post-interactions-padding: var(--space-1) var(--space-2);
  --post-interactions-bg-color: var(--color-bg-white);
  --post-interactions-text-color: var(--color-text-onwhite);
}
.c-post-interactions--bg.pressed {
  box-shadow: 0px 0px 6px 2px var(--color-badge-neon);
  --post-interactions-bg-color: var(--color-badge-neon);
}
.c-post-interactions__icon {
  transition: color 0.3s ease, transform 0.3s ease;
}
.c-post-interactions__icon.animation-color {
  color: var(--color-badge-neon);
}
.c-post-interactions__icon.pressed-color {
  color: var(--color-text);
}
.c-post-interactions__text {
  transition: opacity 0.3s ease;
}
.c-post-interactions__text.animation-opacity {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.c-post-interactions__text.pressed-color {
  color: var(--color-text);
}

.c-user-box {
  color: var(--color-text-subdued);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-user-box__user-info {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
.c-user-box__user-img {
  width: 30px;
  height: 30px;
  border-radius: var(--border-radius-full);
  overflow: hidden;
}
.c-user-box__usertitle {
  margin-top: var(--space-1);
}
.c-user-box__more-info {
  padding: var(--space-1);
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
.c-user-box__dots-icon {
  cursor: pointer;
}

.c-post {
  background-color: var(--color-bg-card);
  color: var(--color-text);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-post.trending {
  border: 1px solid var(--color-border-neon);
  box-shadow: 0px 0px 21px 7px var(--opacity-neon-45);
}
.c-post--to-horizontal {
  height: auto;
}
@media (min-width: 744px) {
  .c-post--to-horizontal {
    justify-content: space-between;
    flex-direction: row;
  }
}
.c-post--full-post {
  height: auto;
}
@media (min-width: 744px) {
  .c-post--full-post {
    padding: var(--space-2) var(--space-6) var(--space-6);
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--space-2);
    --full-post-flex-column-gap: var(--space-6);
    --flex-items: 2;
  }
}
.c-post__actions {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 744px) {
  .c-post__actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--space-2);
  }
}
@media (min-width: 744px) {
  .c-post__actions {
    flex: 0 0 100%;
  }
}
.c-post__btn {
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-bg-opacity-filter);
  border: none;
  border-radius: var(--border-radius-full);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-post__btn-icon {
  transition: 0.3s ease;
}
.c-post__cover-img-box {
  flex: 0 1 50%;
}
@media (min-width: 744px) {
  .c-post__cover-img-box--to-horizontal {
    flex: 0 0 50%;
  }
}
@media (min-width: 744px) {
  .c-post__cover-img-box--full-post {
    flex: 0 0 calc(100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) * var(--full-post-flex-column-gap));
  }
}
.c-post__content {
  flex: 1;
  background-color: var(--color-bg-card);
  padding: var(--space-2) var(--space-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-4);
}
@media (min-width: 744px) {
  .c-post__content--to-horizontal {
    flex: 0 0 50%;
  }
}
.c-post__content--full-post {
  background-color: var(--color-bg-accent-first);
}
@media (min-width: 744px) {
  .c-post__content--full-post {
    flex: 0 0 calc(100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) * var(--full-post-flex-column-gap));
  }
}
.c-post__times-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-2);
}
.c-post__time-box {
  color: var(--color-text-subdued);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
.c-post__time-box--right {
  text-align: right;
}
.c-post__title-device-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-1);
}
.c-post__devices {
  color: var(--color-text-subdued);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-1);
}
.c-post__title {
  margin-bottom: var(--space-2);
}
.c-post__additional-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.c-post__info-container {
  padding-top: var(--space-2);
  border-top: 0.5px solid var(--color-border-stroke);
  display: flex;
  align-items: center;
  gap: var(--space-2);
  overflow-x: scroll;
  scrollbar-width: none;
}
.c-post__info-container::-webkit-scrollbar {
  display: none;
}
.c-post__stars {
  color: var(--color-interactions-stars);
}

.c-comment {
  background-color: var(--color-bg-accent-first);
  border: 1px solid var(--color-border-stroke);
  border-radius: var(--border-radius-xl);
  border-top-left-radius: var(--border-radius-0);
  padding: var(--space-4) var(--space-4) var(--space-6);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.c-comment__label {
  margin-bottom: var(--space-1);
}
.c-comment__text {
  color: var(--color-text);
}
.c-comment__interactions {
  padding: var(--space-0) var(--space-4);
  position: absolute;
  right: 0;
  bottom: -1rem;
  display: flex;
  align-items: flex-end;
  gap: var(--space-4);
}
.c-comment__img-container {
  display: flex;
  gap: var(--space-4);
}
.c-comment__img-box {
  position: relative;
  margin-bottom: var(--space-5);
}

.c-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  transition: opacity 0.1s ease-in-out;
}
.c-swiper.loaded {
  opacity: 1;
}
.c-swiper__list {
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 408px) {
  .c-swiper__list {
    min-height: 450px;
  }
}
@media (min-width: 744px) {
  .c-swiper__list {
    min-height: 294px;
  }
}
@media (min-width: 1024px) {
  .c-swiper__list {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .c-swiper__list {
    justify-content: flex-end;
  }
}
.c-swiper__item {
  display: inline-block;
  max-width: 588px;
  height: auto;
  margin-left: var(--space-16);
  background: var(--color-bg-card);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: grab;
}
.c-swiper__item.moving {
  transition: none;
  cursor: grabbing;
}
@media (min-width: 700px) {
  .c-swiper__item {
    margin-left: var(--space-0);
  }
}
.c-swiper__post-content {
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.c-scroll {
  margin-top: var(--space-14);
  overflow-x: scroll;
  position: relative;
  display: flex;
  scrollbar-width: none;
}
.c-scroll::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1024px) {
  .c-scroll {
    margin-top: var(--space-18);
  }
}
.c-scroll__front {
  flex: 0 0 50%;
  margin-right: var(--space-6);
  background-color: var(--front-scroll-bg-color);
  color: var(--color-text-onwhite);
  border-radius: var(--border-radius-sm);
  padding: var(--space-8) var(--space-6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-scroll__front--orange {
  --front-scroll-bg-color: var(--color-btn);
}
@media (min-width: 620px) {
  .c-scroll__front {
    flex: 0 0 25%;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}
@media (min-width: 1024px) {
  .c-scroll__front {
    padding: var(--space-20) var(--space-6);
  }
}
.c-scroll__list {
  flex: 0 0 50%;
  display: flex;
  gap: var(--space-6);
}
@media (min-width: 744px) {
  .c-scroll__list {
    flex: 0 0 calc(75% - 1.5rem);
  }
}
.c-scroll__item {
  flex: 0 0 300px;
}

.c-header {
  width: 100%;
  background-color: var(--color-bg-accent-third);
}
@media (min-width: 1024px) {
  .c-header {
    border-bottom: 4px solid var(--color-border-black);
  }
}
.c-header__nav {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
@media (min-width: 1024px) {
  .c-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--space-4) var(--space-4) var(--space-5);
  }
}
@media (min-width: 1200px) {
  .c-header__nav {
    padding: var(--space-4) var(--space-0) var(--space-5);
  }
}
.c-header__mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .c-header__mobile-top {
    padding: var(--space-2) var(--space-4);
    border-bottom: 2px solid var(--color-border-black);
    flex: 0 0 100%;
  }
}
.c-header__logo-box {
  max-width: 250px;
}
.c-header__menu-icon.exit .c-header__menu-line:first-child {
  transform: rotate(45deg) translate(0.3125rem, 0px);
}
.c-header__menu-icon.exit .c-header__menu-line:nth-child(2) {
  display: none;
}
.c-header__menu-icon.exit .c-header__menu-line:last-child {
  transform: rotate(-45deg) translate(0.3125rem, 0px);
}
@media (min-width: 1024px) {
  .c-header__menu-icon {
    display: none;
  }
}
.c-header__menu-line {
  background-color: var(--color-text);
  width: 1.5rem;
  height: 0.125rem;
  display: block;
  margin: 0.25rem 0;
  transition: 0.2s;
}
.c-header__dropdown {
  display: none;
  opacity: 0;
  transition: 0.3s;
}
.c-header__dropdown.open {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-6);
  opacity: 1;
  transition: 0.3s;
  position: absolute;
  left: -1px;
  right: -1px;
  z-index: 6;
  background-color: var(--color-bg-accent-third);
  padding: var(--space-3) var(--space-4) var(--space-6);
  border-bottom: 2px solid var(--color-border-black);
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}
@media (min-width: 1024px) {
  .c-header__dropdown {
    opacity: 1;
    display: flex;
    align-items: flex-end;
    gap: var(--space-6);
  }
}
.c-header__search-icon-nav {
  margin-bottom: var(--space-6);
}
@media (min-width: 1024px) {
  .c-header__search-icon-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-9);
    margin-bottom: var(--space-1);
  }
}
.c-header__search {
  width: 100%;
}
@media (min-width: 1024px) {
  .c-header__search {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .c-header__search-input {
    padding: var(--space-1) var(--space-2);
    display: none;
    opacity: 0;
    transition: 0.3s;
  }
  .c-header__search-input.active {
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
}
@media (min-width: 1024px) {
  .c-header__search-icon {
    font-size: 1.5rem;
  }
}
.c-header__icon-nav {
  color: var(--color-text-subdued);
  display: flex;
  align-items: center;
  gap: var(--space-9);
}
@media (max-width: 1024px) {
  .c-header__icon-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg-black);
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    justify-content: space-evenly;
    gap: var(--space-0);
  }
}
@media (max-width: 1024px) {
  .c-header__icon-nav--desktop-only {
    display: none;
  }
}
.c-header__icon-nav--mobile-only {
  z-index: 9999;
}
@media (min-width: 1024px) {
  .c-header__icon-nav--mobile-only {
    display: none;
  }
}
@media (max-width: 1024px) {
  .c-header__icon-item {
    padding: var(--space-1) var(--space-4);
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .c-header__icon-item--mobile-only {
    display: none;
  }
}
@media (max-width: 420px) {
  .c-header__icon-text {
    display: none;
  }
}
@media (min-width: 1024px) {
  .c-header__icon-text {
    display: none;
  }
}
@media (min-width: 1024px) {
  .c-header__main-nav {
    padding: var(--space-2) var(--space-0);
  }
}
.c-header__main-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-4);
}
@media (min-width: 1024px) {
  .c-header__main-list {
    flex-direction: row;
    align-items: center;
    gap: var(--space-9);
  }
}
@media (min-width: 1024px) {
  .c-header__main-item {
    padding: var(--space-0) var(--space-2);
  }
}
.c-header__main-item.active {
  border: 1px solid var(--color-border-selected);
  border-radius: var(--border-radius-sm);
}
.c-header__main-item a:hover {
  color: var(--color-text-hover);
}

.c-footer {
  background-color: var(--color-bg-accent-third);
  width: 100%;
  padding: var(--space-4) var(--space-4) var(--space-6);
  border-top: 3px solid var(--color-border-black);
}
@media (max-width: 1024px) {
  .c-footer {
    margin-bottom: var(--bottom-menu-mobile-height);
  }
}
.c-footer__container {
  max-width: 1200px;
  margin: auto;
}
@media (min-width: 744px) {
  .c-footer__container {
    padding: var(--space-10) var(--space-0) var(--space-16);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}
.c-footer__logo {
  width: 100%;
  margin-bottom: var(--space-6);
}
@media (min-width: 744px) {
  .c-footer__logo {
    flex: 0 0 30%;
    margin-bottom: var(--space-0);
  }
}
.c-footer__content {
  max-width: 166px;
}
@media (min-width: 744px) {
  .c-footer__content {
    flex: 0 0 166px;
  }
}
.c-footer__page-links {
  margin-bottom: var(--space-6);
}
.c-footer__page-links:last-child {
  margin-bottom: var(--space-0);
}
@media (min-width: 744px) {
  .c-footer__page-links {
    margin-bottom: var(--space-8);
  }
}
.c-footer__page-link {
  color: var(--color-text);
  margin-bottom: var(--space-3);
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
@media (min-width: 744px) {
  .c-footer__page-link {
    margin-bottom: var(--space-6);
  }
}
.c-footer__some-links {
  margin-bottom: var(--space-8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-footer__copyright {
  color: var(--color-text-pale);
}

.c-hero {
  width: 100%;
  min-height: 286px;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.c-hero--start-img {
  background-image: url("../../assets/img/hero-bg-images/start-hero-img.jpg");
}
.c-hero--forum-img {
  background-image: url("../../assets/img/hero-bg-images/forum-hero-img.jpg");
}
.c-hero--spel-img {
  background-image: url("../../assets/img/hero-bg-images/spel-hero-img.jpg");
}
.c-hero--snackis-img {
  background-image: url("../../assets/img/hero-bg-images/snackis-hero-img.jpg");
}
@media (min-eidth: 1024px) {
  .c-hero {
    margin-bottom: 3.5rem;
  }
}

.c-aside {
  padding: var(--space-14) var(--space-6);
  background-image: url("../../assets/img/hero-bg-images/bg-rutor.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1024px) {
  .c-aside {
    border-radius: var(--border-radius-md);
    border: 0.2px solid var(--color-border-neon-muted);
    position: sticky;
    top: 1rem;
    bottom: 1rem;
    height: calc(100svh - 2rem);
  }
}
.c-aside__box {
  margin-bottom: var(--space-6);
}
.c-aside__box:last-child {
  margin-bottom: var(--space-0);
}
@media (min-width: 1024px) {
  .c-aside__rules {
    display: none;
  }
}

.c-lib-page__swiper {
  margin: var(--space-10) var(--space-0);
}
@media (min-width: 1024px) {
  .c-lib-page__swiper {
    margin: var(--space-0) var(--space-20) var(--space-10);
  }
}
.c-lib-page__search-filter {
  margin-bottom: var(--space-10);
}
@media (min-width: 1024px) {
  .c-lib-page__search-filter {
    margin: var(--space-0) var(--space-20) var(--space-10);
  }
}
.c-lib-page__search {
  margin-bottom: var(--space-6);
}
.c-lib-page__dropdowns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: normal;
  gap: var(--flex-dropdowns-gap);
  --flex-dropdowns-gap: var(--space-4);
}
.c-lib-page__dropdown {
  flex: 0 0 calc(100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) * var(--flex-dropdowns-gap));
  --flex-items: 2;
}
@media (min-width: 1024px) {
  .c-lib-page__dropdown {
    flex: 0 0 220px;
  }
}
.c-lib-page__dropdown.hide-in-mobile {
  display: none;
}
@media (min-width: 1024px) {
  .c-lib-page__dropdown.hide-in-mobile {
    display: inline-block;
    flex: 0 0 120px;
  }
}
.c-lib-page__heading {
  margin-bottom: var(--space-6);
  color: var(--color-text);
}
.c-lib-page__feed {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--flex-gap);
  --flex-gap: var(--space-4);
}
.c-lib-page__post {
  flex: 0 0 100%;
}
@media (min-width: 744px) {
  .c-lib-page__post {
    --flex-items: 2;
    flex: 0 0 calc(100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) * var(--flex-gap));
  }
}
@media (min-width: 1200px) {
  .c-lib-page__post {
    --flex-items: 3;
  }
}

.c-two-col-page {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: var(--space-0) var(--space-0) var(--space-30);
}
@media (min-width: 1024px) {
  .c-two-col-page {
    padding: var(--space-20) var(--space-4);
    display: flex;
    justify-content: space-between;
    gap: var(--flex-gap);
    --flex-gap: var(--space-6);
  }
}
@media (min-width: 1200px) {
  .c-two-col-page {
    padding: var(--space-20) var(--space-0);
  }
}
.c-two-col-page__aside {
  width: 100%;
}
@media (min-width: 1024px) {
  .c-two-col-page__aside {
    flex: 0 0 calc(25% - var(--flex-gap) / 2);
  }
}
.c-two-col-page__main {
  padding: var(--space-4);
}
@media (min-width: 1024px) {
  .c-two-col-page__main {
    flex: 0 0 calc(75% - var(--flex-gap) / 2);
    padding: var(--space-0);
  }
}

/*If you have page-specific styles, it is better to put them in a pages/ folder, in a file named after the page. For instance, it’s not uncommon to have very specific styles for the home page hence the need for a _home.scss file in pages/.*/
.c-asymmetric-feed {
  align-items: stretch;
}
.c-asymmetric-feed__post {
  --flex-gap: var(--space-4);
}
.c-asymmetric-feed__post--60 {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  flex: 0 0 100%;
}
@media (min-width: 1024px) {
  .c-asymmetric-feed__post--60 {
    --flex-items: 3;
    flex: 0 0 calc(100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) * var(--flex-gap) + 100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) * var(--flex-gap) + var(--flex-gap));
  }
}
.c-asymmetric-feed__post--30 {
  flex: 0 0 100%;
}
@media (min-width: 1024px) {
  .c-asymmetric-feed__post--30 {
    --flex-items: 3;
    flex: 0 0 calc(100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) * var(--flex-gap));
  }
}

.c-comment {
  height: calc(100% - 1rem);
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .c-thread__comments {
    position: relative;
    display: flex;
    justify-content: space-between;
    --flex-column-gap: var(--space-6);
  }
}
.c-thread__rules {
  display: none;
}
@media (min-width: 1024px) {
  .c-thread__rules {
    margin-top: var(--space-14);
    display: block;
    flex: 0 0 calc(30% - var(--flex-column-gap));
    position: sticky;
    top: 1rem;
    bottom: 1rem;
    height: calc(100% - 2rem);
  }
}
.c-thread__list {
  position: relative;
  flex: 0 0 100%;
}
@media (min-width: 1024px) {
  .c-thread__list {
    flex: 0 0 calc(70% - var(--flex-column-gap));
  }
}
.c-thread__list--lvl1 {
  padding-top: var(--space-14);
  padding-left: var(--space-6);
}
@media (min-width: 1024px) {
  .c-thread__list--lvl1 {
    margin-left: var(--space-6);
  }
}
.c-thread__list--lvl1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-border-stroke);
  height: 100%;
  width: 1px;
}
.c-thread__list--lvl2 {
  padding-left: var(--space-4);
}
.c-thread__list--lvl2:before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 0;
  background-color: var(--color-border-stroke);
  height: 100%;
  width: 1px;
}
.c-thread__comment {
  margin-bottom: var(--space-12);
  position: relative;
}
.c-thread__comment .c-comment__see-less {
  background-color: var(--color-bg);
  color: var(--color-text);
  position: absolute;
  top: -2.25rem;
  left: -2.25rem;
}
.c-thread__comment--lvl1:after {
  content: "";
  position: absolute;
  top: -16px;
  left: -25px;
  border-left: 1px solid var(--color-border-stroke);
  border-bottom: 1px solid var(--color-border-stroke);
  border-bottom-left-radius: var(--border-radius-sm);
  width: 25px;
  height: 16px;
}
.c-thread__comment--lvl1.last-child {
  margin-bottom: 0;
}
.c-thread__comment--lvl1.last-child:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -25px;
  background-color: var(--color-bg);
  height: calc(100% + 5px);
  width: 1px;
}
.c-thread__comment--lvl2:after {
  content: "";
  position: absolute;
  top: -16px;
  left: -17px;
  border-left: 1px solid var(--color-border-stroke);
  border-bottom: 1px solid var(--color-border-stroke);
  border-bottom-left-radius: var(--border-radius-sm);
  width: 17px;
  height: 16px;
}
.c-thread__comment--lvl2.last-child:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -17px;
  background-color: var(--color-bg);
  height: calc(100% + 4px);
  width: 1px;
}
.c-thread__comment--lvl2 .c-comment__see-less {
  left: -1.75rem;
}/*# sourceMappingURL=style.css.map */