.c-button {
  // TO-DO: fixa hela denna den är bara freestyle
  border: none;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  box-shadow: var(--btn-box-shadow-default);

  --btn-border-radius: var(--border-radius-xl);
  --btn-box-shadow-default: -3px 4px 0px 0px var(--color-bg-black);
  --btn-box-shadow-hover: -6px 8px 0px 0px var(--color-bg-black);
  --btn-box-shadow-pressed: -1.5px 2px 0px 0px var(--color-bg-black);

  &--primary {
    --btn-bg-color: var(--color-btn);
    --btn-text-color: var(--color-text-onwhite);

    &:hover {
      box-shadow: var(--btn-box-shadow-hover);
      // knappen förflyttas snett upp lite
      transform: translate(3px, -4px);
    }

    &:focus {
      border: 3px solid var(--color-btn-border);
    }

    &.pressed {
      box-shadow: var(--btn-box-shadow-pressed);
      // knappen förflyttas snett upp lite
      transform: translate(1.5px, -2px);
    }

    &.disabled {
      // TO-DO: to this for fuck sake or should i just ignore
      background-color: var(--color-btn-disabled);
      color: var(--color);
    }
  }

  &--secondary {
    --btn-bg-color: var(--color-btn-secondary);
    --btn-text-color: var(--color-text);

    &:hover {
      box-shadow: var(--btn-box-shadow-hover);
      transform: translate(3px, -4px);
    }

    &:focus {
      border: 3px solid var(--color-btn-border);
    }

    &.pressed {
      box-shadow: var(--btn-box-shadow-pressed);
      // knappen förflyttas snett upp lite
      transform: translate(1.5px, -2px);
    }
  }

  // TO-DO: and this
  &--tertiary {
    --btn-box-shadow-default: none;
    --btn-border-radius: var(--border-radius-sm);
    --btn-bg-color: transparent;
    --btn-text-color: var(--color-text-onwhite);

    &:hover {
      background-color: grey;
    }

    &:focus {
      border: 3px solid var(--color-btn-border);
    }
  }
}
