.c-dropdown {
  padding: var(--space-2);
  border: 1px solid var(--color-border-inputfield);
  border-radius: var(--border-radius-sm);
  color: var(--color-text);

  // TO-DO: dropdown font style
  font-size: 14px;

  // TO-DO: width dropdown
  width: 220px;

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-1);
    cursor: pointer;
    transition: 0.3s;
    // TO-DO: transition bg color

    &.open {
      background-color: var(--color-bg-accent-third);
      border-radius: var(--border-radius-sm);
    }
  }

  &__caret {
    transition: 0.3s;

    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__list {
    opacity: 0;
    display: none;
    transition: 0.2s;

    &.open {
      opacity: 1;
      display: block;
    }
  }

  &__option {
    padding: var(--space-2) var(--space-1);
    margin-top: var(--space-2);
    cursor: pointer;

    &.active {
      display: none;
    }

    &:hover {
      background-color: var(--color-bg-accent-third);
      border-radius: var(--border-radius-sm);
    }
  }
}
