.c-teaser-post {
  background-color: var(--color-bg-card);
  color: var(--color-text);
  border-radius: var(--border-radius-md);
  overflow: hidden;

  &__cover-img {
    // TO-DO: kommer aspect ratio funka
    aspect-ratio: 1 / 1;
    // TO-DO: ta bort bg color
    background-color: grey;
  }

  &__content {
    padding: var(--space-2) var(--space-3);

    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  &__times {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-2);
  }

  &__time-box {
    // TO-DO: font style
    font-size: 12px;
    color: var(--color-text-subdued);

    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    &--right {
      text-align: right;
    }
  }

  &__title {
    // TO-DO: font style
    font-size: 18px;
    font-weight: 600;

    margin-bottom: var(--space-2);
  }

  &__text {
    // TO-DO: font style
    font-size: 14px;
  }

  &__user-info {
    color: var(--color-text-subdued);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__user-img {
    // TO-DO: ta bort bg color
    background-color: grey;
    // TO-DO: width + height
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-full);
  }

  &__username {
    // TO-DO: font style
    font-size: 14px;
  }

  &__time-dots-box {
    padding: var(--space-1);

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__info-container {
    padding-top: var(--space-2);
    border-top: 0.5px solid var(--color-border-stroke);

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
}

.c-teaser-carousel-post {
  background-color: var(--color-bg-card);
  color: var(--color-text);
  border-radius: var(--border-radius-md);
  overflow: hidden;

  // TO-DO: rätt breakpoint
  @media (min-width: 744px) {
    display: flex;
  }

  &__cover-img {
    // TO-DO: kommer aspect ratio funka
    aspect-ratio: 16 / 9;
    // TO-DO: ta bort bg color
    background-color: grey;

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      flex: 0 0 50%;
    }
  }

  &__content {
    padding: var(--space-2) var(--space-3);

    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  &__times {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-2);
  }

  &__time-box {
    // TO-DO: font style
    font-size: 12px;
    color: var(--color-text-subdued);

    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    &--right {
      text-align: right;
    }
  }

  &__title {
    // TO-DO: font style
    font-size: 18px;
    font-weight: 600;

    margin-bottom: var(--space-2);
  }

  &__text {
    // TO-DO: font style
    font-size: 14px;
  }

  &__user-info {
    color: var(--color-text-subdued);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__user-img {
    // TO-DO: ta bort bg color
    background-color: grey;
    // TO-DO: width + height
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-full);
  }

  &__username {
    // TO-DO: font style
    font-size: 14px;
  }

  &__time-dots-box {
    padding: var(--space-1);

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__info-container {
    padding-top: var(--space-2);
    border-top: 0.5px solid var(--color-border-stroke);

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
}

.c-full-post {
  background-color: var(--color-bg-card);
  color: var(--color-text);
  border-radius: var(--border-radius-md);
  overflow: hidden;

  position: relative;

  // TO-DO: rätt breakpoint
  @media (min-width: 744px) {
    padding: var(--space-2) var(--space-6) var(--space-6);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: var(--space-2);

    --full-post-flex-column-gap: var(--space-6);
    --flex-items: 2;
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    // TO-DO: rätt breakpoint
    @media (max-width: 744px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: var(--space-2);
    }

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      flex: 0 0 100%;
    }
  }

  &__cover-img {
    // TO-DO: kommer aspect ratio funka
    aspect-ratio: 1 / 1;
    // TO-DO: ta bort bg color
    background-color: grey;

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      flex: 0 0
        calc(
          (100% / var(--flex-items)) -
            (
              ((var(--flex-items) - 1) / var(--flex-items)) *
                var(--full-post-flex-column-gap)
            )
        );
    }
  }

  &__content {
    padding: var(--space-2) var(--space-3);
    background-color: var(--color-bg-accent-first);

    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      flex: 0 0
        calc(
          (100% / var(--flex-items)) -
            (
              ((var(--flex-items) - 1) / var(--flex-items)) *
                var(--full-post-flex-column-gap)
            )
        );
    }
  }

  &__times {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-2);
  }

  &__time-box {
    // TO-DO: font style
    font-size: 12px;
    color: var(--color-text-subdued);

    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    &--right {
      text-align: right;
    }
  }

  &__title {
    // TO-DO: font style
    font-size: 18px;
    font-weight: 600;

    margin-bottom: var(--space-2);
  }

  &__text {
    // TO-DO: font style
    font-size: 14px;
  }

  &__user-info {
    color: var(--color-text-subdued);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__user-img {
    // TO-DO: ta bort bg color
    background-color: grey;
    // TO-DO: width + height
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-full);
  }

  &__username {
    // TO-DO: font style
    font-size: 14px;
  }

  &__usertitle {
    // TO-DO: font style
    font-size: 14px;
    margin-top: var(--space-1);
  }

  &__time-dots-box {
    padding: var(--space-1);

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__info-container {
    padding-top: var(--space-2);
    border-top: 0.5px solid var(--color-border-stroke);

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
}
