// TO-DO: slå ihop komponenter + fixa bilder + styla text + height o width regler + rätt breakpoints
.c-post {
  background-color: var(--color-bg-card);
  color: var(--color-text);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  position: relative;
  height: 413px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // TO-DO: rätt breakpoint
  @media (min-width: 744px) {
    height: 504px;
  }

  &--to-horizontal {
    height: auto;

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      height: 294;
      width: 588px;

      justify-content: space-between;
      flex-direction: row;
    }
  }

  &--full-post {
    height: auto;

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      padding: var(--space-2) var(--space-6) var(--space-6);

      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: var(--space-2);

      --full-post-flex-column-gap: var(--space-6);
      --flex-items: 2;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    // TO-DO: rätt breakpoint
    @media (max-width: 744px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: var(--space-2);
    }

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      flex: 0 0 100%;
    }
  }

  &__btn {
    background-color: var(--color-bg-accent-first);
    color: var(--color-text);
    padding: var(--space-2);
    border-radius: var(--border-radius-full);
    border: none;
  }

  &__cover-img-box {
    min-height: 100px;

    &--to-horizontal {
      // TO-DO: rätt breakpoint
      @media (min-width: 744px) {
        flex: 0 0 50%;
      }
    }

    &--full-post {
      // TO-DO: rätt breakpoint
      @media (min-width: 744px) {
        flex: 0 0
          calc(
            (100% / var(--flex-items)) -
              (
                ((var(--flex-items) - 1) / var(--flex-items)) *
                  var(--full-post-flex-column-gap)
              )
          );
      }
    }
  }

  &__content {
    // flex: 0 0 308px;
    background-color: var(--color-bg-card);
    padding: var(--space-2) var(--space-3);

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: var(--space-4);

    &--to-horizontal {
      // TO-DO: rätt breakpoint
      @media (min-width: 744px) {
        flex: 0 0 50%;
      }
    }

    &--full-post {
      background-color: var(--color-bg-accent-first);

      // TO-DO: rätt breakpoint
      @media (min-width: 744px) {
        flex: 0 0
          calc(
            (100% / var(--flex-items)) -
              (
                ((var(--flex-items) - 1) / var(--flex-items)) *
                  var(--full-post-flex-column-gap)
              )
          );
      }
    }
  }

  &__times-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-2);
  }

  &__time-box {
    // TO-DO: font style
    font-size: 12px;
    color: var(--color-text-subdued);

    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    &--right {
      text-align: right;
    }
  }

  &__title {
    // TO-DO: font style
    font-size: 18px;
    font-weight: 600;

    margin-bottom: var(--space-2);
  }

  &__text {
    // TO-DO: font style
    font-size: 14px;
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__info-container {
    padding-top: var(--space-2);
    border-top: 0.5px solid var(--color-border-stroke);
    overflow-x: scroll;

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
}
