// TO-DO: slå ihop komponenter + fixa bilder + styla text + height o width regler + rätt breakpoints
.c-post {
  background-color: var(--color-bg-card);
  color: var(--color-text);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  position: relative;
  // TO-DO: height
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // TO-DO: rätt breakpoint
  @media (min-width: 744px) {
    // TO-DO: height
    // height: 504px;
  }

  &.trending {
    border: 1px solid var(--color-border-neon);
    box-shadow: 0px 0px 21px 7px var(--opacity-neon-45);
  }

  &--to-horizontal {
    height: auto;

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      // // TO-DO: kolla detta
      // height: 294px;
      // width: 588px;

      justify-content: space-between;
      flex-direction: row;
    }
  }

  &--full-post {
    height: auto;
    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      padding: var(--space-2) var(--space-6) var(--space-6);

      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: var(--space-2);

      --full-post-flex-column-gap: var(--space-6);
      --flex-items: 2;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    // TO-DO: rätt breakpoint
    @media (max-width: 744px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: var(--space-2);
    }

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      flex: 0 0 100%;
    }
  }

  &__btn {
    color: var(--color-text);
    background-color: var(--color-bg-opacity-filter);
    border: none;
    // perfekt rund
    border-radius: var(--border-radius-full);
    width: 2.5rem;
    height: 2.5rem;

    // centrera innehåll
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cover-img-box {
    flex: 0 1 50%;

    &--to-horizontal {
      // TO-DO: rätt breakpoint
      @media (min-width: 744px) {
        flex: 0 0 50%;
      }
    }

    &--full-post {
      // TO-DO: rätt breakpoint
      @media (min-width: 744px) {
        flex: 0 0
          calc(
            (100% / var(--flex-items)) -
              (
                ((var(--flex-items) - 1) / var(--flex-items)) *
                  var(--full-post-flex-column-gap)
              )
          );
      }
    }
  }

  &__content {
    flex: 1;
    background-color: var(--color-bg-card);
    padding: var(--space-2) var(--space-3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-4);

    &--to-horizontal {
      // TO-DO: rätt breakpoint
      @media (min-width: 744px) {
        flex: 0 0 50%;
      }
    }

    &--full-post {
      background-color: var(--color-bg-accent-first);

      // TO-DO: rätt breakpoint
      @media (min-width: 744px) {
        flex: 0 0
          calc(
            (100% / var(--flex-items)) -
              (
                ((var(--flex-items) - 1) / var(--flex-items)) *
                  var(--full-post-flex-column-gap)
              )
          );
      }
    }
  }

  &__times-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-2);
  }

  &__time-box {
    color: var(--color-text-subdued);

    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    &--right {
      text-align: right;
    }
  }

  &__title-device-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-1);
  }

  &__devices {
    color: var(--color-text-subdued);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-1);
  }

  &__title {
    margin-bottom: var(--space-2);
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__info-container {
    padding-top: var(--space-2);
    border-top: 0.5px solid var(--color-border-stroke);

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__stars {
    color: var(--color-interactions-stars);
  }
}
