.c-teaser {
  background-color: var(--teaser-bg-color);

  --teaser-bg-color: var(--color-bg-card);

  border-radius: var(--border-radius-sm);

  &__cover-img {
    // TO-DO: ta bort färg sen
    background-color: grey;

    // TO-DO: aspect ratio
    aspect-ratio: 16 / 9;

    &--to-horizontal {
      // TO-DO: rätt break-point
      @media (min-width: 744px) {
        flex: 0 0 50%;
        aspect-ratio: 1 / 1;
      }
    }
  }

  &__text-content {
    &--to-horizontal {
      // TO-DO: rätt break-point
      @media (min-width: 744px) {
        flex: 0 0 50%;
      }
    }
  }

  &--to-horizontal {
    // TO-DO: rätt break-point
    @media (min-width: 744px) {
      display: flex;
    }
  }
}
