.c-cover {
    // TO-DO: modifiers för sm + lg
    position: relative;
    width: 100%;
    height: 105px;
    // TO-DO: byt ut till background-image
    background-color: grey;

    .c-cover__profile-img {
        // TO-DO: byt ut värden för w + h
        height: 64px;
        width: 64px;
        // TO-DO: img istället för color
        background-color: black;

        // TO-DO: hämta variabel
        border-radius: 9999px;

        // TO-DO: full + comment modifier
        position: absolute;
        left: 2rem;
        bottom: -.75rem;
    }
}