.c-dropdown {
  background-color: var(--dropdown-bg-color);
  color: var(--dropdown-text-color);
  border: 2px solid var(--dropdown-border-color);
  border-radius: var(--border-radius-md);
  padding: var(--dropdown-y-padding) var(--dropdown-x-padding);

  --dropdown-bg-color: #0d1833;
  --dropdown-text-color: #efefef;
  --dropdown-border-color: #efefef;
  --dropdown-y-padding: 0.25rem;
  --dropdown-x-padding: 0.5rem;
}
