.c-icon {
  // TO-DO: style
  // TO-DO: should i or should i not?
  font-size: 1em;

  &--xs {
    font-size: 1rem;
  }

  &--sm {
    font-size: 1.5rem;
  }

  &--md {
    font-size: 2rem;
  }

  &--lg {
    font-size: 3rem;
  }
}
