.c-input {
  outline: none;
  color: var(--color-text-pale);
  background-color: transparent;
  padding: var(--space-2);
  border: 0.5px solid var(--color-border-inputfield);
  border-radius: var(--border-radius-sm);

  &::placeholder {
    color: var(--color-text-pale);
  }

  &:focus {
    box-shadow: 4px 4px 15px 0px var(--opacity-grey-25);
  }
}
