.c-menu-icon {

    .c-menu-icon__line {
        // TO-DO: variabler!
        background-color: black;
        width: 1.5rem;
        height: .125rem;
        display: block;
        margin: .25rem 0;
        transition: 0.2s;
    }
    
    // TO-DO: exit-class (.exit) eller bem modifier (.c-mobile-menu__line--exit)
    &.exit {

        .c-menu-icon__line {

            &:first-child {
                transform: rotate(45deg) translate(5px, 0px);
            }
    
            &:nth-child(2) {
                display: none;
            }
    
            &:last-child {
                transform: rotate(-45deg) translate(5px, 0px);
            }
        }
    }

    // TO-DO: ändra rätt break-point variabel
    @media (min-width: 744px){
        display: none;
    }
}