.c-nav {
  .c-nav__list {
    display: none;

    &.active {
      // TO-DO: fixa
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100vw;
      height: 100svh;
      background-color: white;
    }

    // TO-DO: variabler fungerar ej här
    @media (min-width: 744px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
