.c-post-interactions {
  // TO-DO: responsiv .c-post-interactions
  display: flex;
  align-items: center;
  gap: var(--post-interactions-gap);

  padding: var(--post-interactions-padding);
  background-color: var(--post-interactions-bg-color);
  color: var(--post-interactions-text-color);

  --post-interactions-gap: var(--space-1);
  --post-interactions-padding: var(--space-1);
  --post-interactions-text-color: var(--color-text);

  &--bg {
    border-radius: var(--border-radius-full);

    --post-interactions-padding: var(--space-1) var(--space-2);
    --post-interactions-bg-color: var(--color-bg-white);
    --post-interactions-text-color: var(--color-text-onwhite);

    &.pressed {
      // TO-DO: check this
      box-shadow: 0px 0px 6px 2px var(--color-badge-neon);

      --post-interactions-bg-color: var(--color-badge-neon);
      --post-interactions-text-color: var(--color-text);
      // TO-DO: neon effekt .c-post-interactions pressed state
    }
  }
}
