.c-post-interactions {
  // pga animation
  position: relative;

  min-height: 1.75rem;
  min-width: 3.125rem;
  transition: color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--post-interactions-gap);

  padding: var(--post-interactions-padding);
  background-color: var(--post-interactions-bg-color);
  color: var(--post-interactions-text-color);

  --post-interactions-gap: var(--space-1);
  --post-interactions-padding: var(--space-1);
  --post-interactions-text-color: var(--color-text);

  &--bg {
    border-radius: var(--border-radius-full);

    --post-interactions-padding: var(--space-1) var(--space-2);
    --post-interactions-bg-color: var(--color-bg-white);
    --post-interactions-text-color: var(--color-text-onwhite);

    &.pressed {
      box-shadow: 0px 0px 6px 2px var(--color-badge-neon);

      --post-interactions-bg-color: var(--color-badge-neon);
    }
  }

  &__icon {
    // transition på färg och transform
    transition: color 0.3s ease, transform 0.3s ease;

    &.animation-color {
      color: var(--color-badge-neon);
    }

    &.pressed-color {
      color: var(--color-text);
    }
  }

  &__text {
    // liten transition när texten gömmer sig
    transition: opacity 0.3s ease;

    &.animation-opacity {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &.pressed-color {
      color: var(--color-text);
    }
  }
}
