.c-post {
  .c-post__cover-img {
    // TO-DO: fix this
    height: 105px;
    background-color: grey;
    margin-bottom: 0.25rem;
  }

  .c-post__content {
    display: flex;
    flex-direction: column;
    gap: var(--post-gap);
    padding: var(--post-y-padding) var(--post-x-padding);

    --post-gap: 1rem;
    --post-y-padding: 0.25rem;
    --post-x-padding: 0.5rem;

    .c-post__content {
      // TO-DO: variabel?
      margin-bottom: 1rem;

      .c-post__top-content {
        // TO-DO: variabel?
        margin-bottom: 0.5rem;

        display: flex;
        align-items: center;

        .c-post__profile-img {
          // TO-DO: variabel?
          margin-right: 0.5rem;
          // TO-DO: variabel
          border-radius: 9999px;
          // TO-DO: byt ut värden
          width: 38px;
          height: 38px;

          // TO-DO: placeholder color
          background-color: black;
        }

        .c-post__name {
          // TO-DO: variabel?
          margin-bottom: 0.25rem;

          // TO-DO: typskala
          font-size: 0.875rem;
        }

        .c-post__user-title {
          // TO-DO: typskala
          font-size: 0.75rem;
        }

        .c-post__date {
          // TO-DO: typskala
          font-size: 0.75rem;
          margin-left: auto;
        }
      }

      .c-post__heading {
        // TO-DO: typskala
        font-size: 1rem;
        font-weight: 600;

        // TO-DO: variabel?
        margin-bottom: 0.25rem;
      }

      .c-post__text {
        // TO-DO: typskala
        font-size: 0.875rem;
      }
    }

    .c-post__info {
      .c-post__info-row {
        display: flex;
        align-items: center;
        // TO-DO: variabel gap
        gap: 0.5rem;
        // TO-DO: variabler?
        padding-top: 0.5rem;
        // TO-DO: variabler + opacity 0.6
        border-top: 0.5px solid black;

        // bara den första har margin-bottom
        &:first-child {
          // TO-DO: variabel
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &.c-post--comment {
    // TO-DO: variabler
    background-color: grey;
    // TO-DO: variabler
    border-radius: 0.75rem;
    // TO-DO: width?
    // TO-DO: pratbubblehörn
  }
}

// TO-DO: --teaser --full --comment
// TO-DO: responsive
