.c-scroll {
  width: 100%;
  overflow-x: scroll;
  padding: 1.5rem;
  white-space: nowrap;

  &__carousel {
    display: inline-flex;
  }

  &__item {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 1.5rem;

    &--static {
      position: relative;
      flex: none;
    }
  }
}

// .c-scroll {
//   margin-top: var(--space-14);
//   overflow-x: scroll;

//   position: relative;

//   display: flex;

//   //För att ta bort scroll-bar i firefox
//   scrollbar-width: none;

//   &::-webkit-scrollbar {
//     display: none;
//   }

//   @media (min-width: 1024px) {
//     margin-top: var(--space-18);
//   }

//   &__front {
//     flex: 0 0 50%;
//     margin-right: var(--space-6);
//     background-color: var(--front-scroll-bg-color);
//     color: var(--color-text-onwhite);
//     border-radius: var(--border-radius-sm);
//     padding: var(--space-8) var(--space-6);

//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     &--orange {
//       --front-scroll-bg-color: var(--color-btn);
//     }

//     @media (min-width: 744px) {
//       flex: 0 0 25%;
//     }

//     @media (min-width: 1024px) {
//       padding: var(--space-20) var(--space-6);
//     }
//   }

//   &__list {
//     flex: 0 0 50%;
//     display: flex;
//     gap: var(--space-6);
//     overflow: hidden;

//     @media (min-width: 744px) {
//       flex: 0 0 calc(75% - 1.5rem);
//     }
//   }
// }
