.c-search {
  display: flex;
  align-items: center;
  .c-search__bar {
    //   TO-DO: variabler
    outline: none;
    padding: var(--search-bar-padding);
    background-color: var(--search-bar-bg-color);
    border: 2px solid var(--search-bar-border-color);
    border-radius: var(--border-radius-sm);

    font-size: 1rem;
    color: var(--search-bar-text-color);

    flex: 1;
    margin-right: var(--space-2);

    --search-bar-bg-color: #0d1833;
    --search-bar-padding: var(--space-2);
    --search-bar-text-color: #efefef;
    --search-bar-border-color: #868686;

    &::placeholder {
      font-size: 1rem;

      --search-bar-text-color: #545c6f;
    }

    &:focus {
      --search-bar-border-color: #cfcfcf;
    }
  }

  .c-search__button {
  }
}
