// cotainer för hela sektionen
.c-swiper {
  // display flex för att centrera containern
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  position: relative;

  // jobbar med opacity och transitions för lite extra effekt
  // opacity: 0;
  transition: opacity 0.1s ease-in-out;

  // snygg fade in effekt bara
  &.loaded {
    opacity: 1;
  }

  // container som samlar alla cards
  &__list {
    // korten är relativa till denna box (kanske flytta till --cards)
    position: relative;

    // ska vara hundra procent bred och minst 600px hög, måste sätta width + height pga position absolute
    width: 100%;
    min-height: 294px;

    // flex för att centrera innehållet
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  // card
  &__item {
    // display: inline-block;

    // height + width
    max-width: 588px;
    height: 294px;

    // background-color
    background: var(--color-bg-card);

    // border-radius
    border-radius: var(--border-radius-sm);
    overflow: hidden;

    // positionerar den absolute relativt till tinder-containern
    position: absolute;

    will-change: transform;
    transition: all 0.3s ease-in-out;

    // muspekaren blir grab när man hovrar kortet (olika webbläsare)
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;

    &.moving {
      transition: none;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }
  }
}

// bara style för buttons
.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}
