.c-tag {
  // TO-DO: färger variabel regler för tags
  background-color: var(--color-bg-white);
  color: var(--color-text-onwhite);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-radius-full);

  // fusk flr att gömma allataggar tagen, funkar bara om den står sist i json arrayen
  &:last-child {
    display: none;
  }
}
