.c-user-box {
  color: var(--color-text-subdued);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__user-info {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__user-img {
    // TO-DO: width + height
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-full);
    overflow: hidden;
  }

  &__usertitle {
    margin-top: var(--space-1);
  }

  &__more-info {
    padding: var(--space-1);

    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__dots-icon {
    cursor: pointer;
  }
}
