//Style för all typografi, dvs lägg inget som har med typ i någon annan partial
//Eftersom vi har nollställt all style, så kommer all text per default bli 16px, dvs ni måste bestämma storlek på allt

body {
  font-family: Arial, Helvetica, sans-serif;
}

.c-teaser-post__text {
  // Gör så att p-tagg har tre rader och ... efter
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.c-teaser-carousel-post__text {
  // Gör så att p-tagg har tre rader och ... efter
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
