// Här kan ni använda CSS och SCSS variables 
:root {
    /* Variable for gap */
    --flex-gap: 1rem;
    /* Number of flex items*/
    --flex-items: 1;


    // colors

    // break-points
    --break-point-sm: 640px;
    --break-point-md: 768px;
    --break-point-lg: 1024px;
    --break-point-xl: 1280px;
    --break-point-2xl: 1536px;

    // spacing?
    // blir kanske lite onödigt att sätta upp en tailwind spacing scale. med tanke på parse osv. då kan jag lika gärna sätta upp tailwind config.

    // border-radius?

    // border?
}