.c-aside {
  // TO-DO: fixa i mobil
  // TO-DO: padding spacing
  padding: var(--space-14) var(--space-6);
  background-image: url("../../assets/img/hero-bg-images/bg-rutor.png");
  background-repeat: no-repeat;
  background-size: cover;

  // TO-DO: rätt breakpoint
  @media (min-width: 1024px) {
    border-radius: var(--border-radius-md);
    border: 0.2px solid var(--color-border-neon-muted);

    // den är position sticky fast bara till lib-page så att den följer bara med det content som är relevant
    position: sticky;
    top: 1rem;
    bottom: 1rem;
    // den ska vara lika hög som svh fast minus 2rem för margin top och bottom
    height: calc(100svh - 2rem);
  }

  &__box {
    margin-bottom: var(--space-6);

    &:last-child {
      margin-bottom: var(--space-0);
    }
  }
}
