.c-hero {
  width: 100%;
  min-height: 286px;
  color: var(--color-text);

  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &--start-img {
    background-image: url("../../assets/img/hero-bg-images/start-hero-img.jpg");
  }

  &--forum-img {
    background-image: url("../../assets/img/hero-bg-images/forum-hero-img.jpg");
  }

  &--spel-img {
    background-image: url("../../assets/img/hero-bg-images/spel-hero-img.jpg");
  }

  &--snackis-img {
    background-image: url("../../assets/img/hero-bg-images/snackis-hero-img.jpg");
  }

  // TO-DO: rätt breakpoint
  @media (min-eidth: 744px) {
    margin-bottom: 3.5rem;
  }
}
