.c-lib-page {
  max-width: 1200px;
  margin: auto;

  // TO-DO: rätt breakpoint
  @media (min-width: 744px) {
    // TO-DO: kolla spacing
    padding: var(--space-7) var(--space-4) var(--space-16);

    display: flex;
    justify-content: space-between;
  }

  &__aside {
    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      // TO-DO: procent eller pixlar
      flex: 0 0 20%;
    }
  }

  &__main {
    padding: var(--space-4);
    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      // TO-DO: procent eller pixlar
      flex: 0 0 70%;
      padding: var(--space-0);
    }
  }

  &__swiper {
    // skjuter in denna sektion lite till på sidorna
    margin: var(--space-10) var(--space-8) var(--space-16);

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      margin: var(--space-0) var(--space-20) var(--space-10);
    }
  }

  &__search-filter {
    // TO-DO: margin-bottom
    margin-bottom: var(--space-8);
  }

  &__search {
    margin-bottom: var(--space-6);
  }

  &__dropdowns {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: var(--space-4);
    // TO-DO: sätt regler för width på dropdown
  }

  &__feed {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: var(--flex-gap);

    // TO-DO: kolla spacing
    --flex-gap: var(--space-4);
  }

  &__post {
    flex: 0 0 100%;

    // TO-DO: rätt breakpoint
    @media (min-width: 744px) {
      --flex-items: 2;

      flex: 0 0
        calc(
          (100% / var(--flex-items)) -
            (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
        );
    }

    @media (min-width: 1280px) {
      --flex-items: 3;
    }
  }
}
