.c-thread {
  &__comments {
    @media (min-width: 1024px) {
      position: relative;

      display: flex;
      // column-gap: var(--flex-column-gap);
      justify-content: space-between;

      --flex-column-gap: var(--space-6);
    }
  }

  &__rules {
    display: none;

    @media (min-width: 1024px) {
      margin-top: var(--space-14);

      display: block;
      flex: 0 0 calc(30% - var(--flex-column-gap));

      position: sticky;
      top: 1rem;
      bottom: 1rem;
      height: calc(100% - 2rem);
    }
  }

  &__list {
    position: relative;

    flex: 0 0 100%;

    @media (min-width: 1024px) {
      flex: 0 0 calc(70% - var(--flex-column-gap));
    }

    // yttersta nivån för kommentarslista
    &--lvl1 {
      padding-top: var(--space-14);
      padding-left: var(--space-6);

      // TO-DO: rätt breakpoint
      @media (min-width: 1024px) {
        margin-left: var(--space-6);
      }

      // detta skapar då den lodräta linjen för listan, satt som :before och inte :after för den ska ligga nederst (gå att täcka)
      &:before {
        content: "";
        // positioneras längst upp, längst till vänster
        position: absolute;
        top: 0;
        left: 0;
        // 1px bred, följa hela vägan, va färgad i rätt border color
        background-color: var(--color-border-stroke);
        height: 100%;
        width: 1px;
      }
    }

    // alla innerlistor alltså svar på kommentarer skapar egna listor som  namnges med lvl2
    &--lvl2 {
      padding-left: var(--space-4);

      &:before {
        content: "";
        // positioneras med -84px i top för att listlinjen ska börja från den övre kommentarens botten ( -84px = 44px pmargin + 20px border radius)
        position: absolute;
        top: -4rem;
        left: 0;
        background-color: var(--color-border-stroke);
        height: 100%;
        width: 1px;
      }
    }
  }
  &__comment {
    margin-bottom: var(--space-12);
    position: relative;

    // stylar see-less-ikonen här eftersom den är relativ till tråden snarare än kommentaren
    .c-comment__see-less {
      background-color: var(--color-bg);
      color: var(--color-text);
      position: absolute;
      top: -2.25rem;
      left: -2.25rem;
    }

    // de yttersta kommentarerna som svarar på ts
    &--lvl1 {
      // vägräta linjen skapas som :after och inte :before för att ligga överst och inte kunna övertäckas
      &:after {
        content: "";
        position: absolute;
        // eftersom denna linjen har en böj så är den skapat som en box med border-radius och border på left och bottom
        // den går upp 16px från top och den går ut 25px från vänster (24px till listlinje + 1px för att border sitter alltid på utsidan)
        top: -16px;
        left: -25px;
        border-left: 1px solid var(--color-border-stroke);
        border-bottom: 1px solid var(--color-border-stroke);
        border-bottom-left-radius: var(--border-radius-sm);
        width: 25px;
        height: 16px;
      }

      &.last-child {
        &:before {
          content: "";
          position: absolute;
          // pga border radius + padding + outer border
          top: -4px;
          left: -25px;
          // samma färg som bg
          background-color: var(--color-bg);
          // eftersom den startas på -4px från top så förlänger vi den lite så att den fortfarande i höjd går ända ner i kanten
          height: calc(100% + 5px);
          width: 1px;
        }
      }
    }

    // alla inre kommentarer som svarar på andra kommentarer
    &--lvl2 {
      // vägräta linjen skapas som :after och inte :before för att ligga överst och inte kunna övertäckas
      &:after {
        content: "";
        position: absolute;
        // eftersom denna linjen har en böj så är den skapat som en box med border-radius och border på left och bottom
        // den går upp 16px från top och den går ut 25px från vänster (24px till listlinje + 1px för att border sitter alltid på utsidan)
        top: -16px;
        left: -17px;
        border-left: 1px solid var(--color-border-stroke);
        border-bottom: 1px solid var(--color-border-stroke);
        border-bottom-left-radius: var(--border-radius-sm);
        width: 17px;
        height: 16px;
      }

      &.last-child {
        &:before {
          content: "";
          position: absolute;
          // pga border radius + padding + outer border
          top: -4px;
          left: -17px;
          // samma färg som bg
          background-color: var(--color-bg);
          // eftersom den startas på -4px från top så förlänger vi den lite så att den fortfarande i höjd går ända ner i kanten
          height: calc(100% + 4px);
          width: 1px;
        }
      }

      .c-comment__see-less {
        left: -1.75rem;
      }
    }
  }
}
